.alert-list {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  top: -20px;
  right: 0;
  z-index: 9999;
  width: 100vw;
  min-width: var(--min-width);
  max-width: 80vh;
}

.alert {
  -webkit-animation: fadein 0.1s 0s 1;
  -moz-animation: fadein 0.1s 0s 1;
  -o-animation: fadein 0.1s 0s 1;
  animation: fadein 0.1s 0s 1;
  border-radius: 0.3em;
  box-shadow: 0 2px 5px 0 var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  font-size: 0.8em;

  opacity: 1;
  padding: 0;
  position: absolute;
  right: 20px;
  text-align: right;
  width: auto;

  & button {
    border-radius: 0.3em;
    background: unset;
    cursor: pointer;
    color: var(--white);
    padding: 1em;
  }

  &[data-type='primary'] {
    background: var(--blue);
    font-weight: var(--weight-bold);
  }

  &[data-type='success'] {
    background: var(--green);
    font-weight: var(--weight-bold);
  }

  &[data-type='danger'] {
    background: var(--red);
    font-weight: var(--weight-bold);
  }

  &[data-type='warning'] {
    background: var(--orange);
    font-weight: var(--weight-bold);
  }

  &[data-type='info'] {
    background: var(--white);
    color: var(--black);
    font-weight: var(--weight-bold);

    button {
      color: var(--black);
    }
  }

  &[data-type='info-dark'] {
    background: var(--black);
    font-weight: var(--weight-bold);
  }

  & .alert-content {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
