/*  Bingo Card */

.bingo-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  column-gap: 1px;
  row-gap: 1px;
  margin: 0 auto;
  width: calc(100% - 40px);
  min-width: 280px;
  max-width: calc(80vh - 40px);
}
