.bingo-square  {
  background: $darker-gray;
    &:hover, &:focus { background: $darkest-gray; }
    &:active { background: $orange; }
  border-radius: .2em;
  color: $white;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease-in-out,
              color 0.2s ease-in-out;
  width: 100%;

  &[aria-pressed="true"] {
    background: $orange;
    &:hover, &:focus { background: $dark-orange; }
    &:active { background: $darker-orange; }
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &[data-freespace="true"] {
    border: 1px solid $orange;
    &:hover, &:focus { border: 1px solid $darkest-gray; }
  }
}

.bingo-square-body {
  overflow: hidden;
  height: 100%;
  position: absolute;
  width: 100%;

  .bingo-square-content {
    font-family: $serif;
    font-size: 0.5rem;
    line-height: 1.15em;
    @media (min-width: $breakpoint-sm) {
      font-size: 0.8rem;
      line-height: 1.25em;
    }
    font-weight: $weight-bold;
    hyphens: manual;
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
  }
}
