/** main Navigation styles */

.main-nav-gutter {
  background: $blue;
  height: 60px;
  @media (min-width: $breakpoint-sm) { height: 100px; }
  margin: 0 0 20px;
  width: 100%;
    min-width: 280px;

  .main-nav {
    margin: 0 auto;
    position: relative;
    width: 100%;
      min-width: 280px;
      max-width: 80vh;

    a {
      place-self: center;
      color: $white;
      font-weight: $weight-bold;
      padding: 0.75em;
      @media (min-width: $breakpoint-sm) { padding: 0.75em 1em; }
      text-decoration: none;
      transition: background 0.2s ease-in-out,
                  box-shadow 0.2s ease-in-out,
                  color 0.2s ease-in-out;
    }
  }
}

.left-side-nav {
  display: grid;
    column-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: stretch;
  height: 40px;
  position: absolute;
    left: 20px;
    top: 10px;

  @media (min-width: $breakpoint-sm) {
    height: 60px;
    top: 20px;
  }

  .brand {
    float: left;
    font-size: 1em;
    @media (min-width: $breakpoint-sm) { font-size: 2.369em; }
    place-self: center;

    a {
      padding: 0;

      span {
        display: inline;
      }
    }
  }
}

.right-side-nav {
  display: grid;
    column-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: stretch;
  height: 40px;
  position: absolute;
    right: 20px;
    top: 10px;

  @media (min-width: $breakpoint-sm) {
    column-gap: 20px;
    height: 60px;
    top: 20px;
  }
}

.menu-button {
  background: unset;
  border-radius: 15% 15% 0 0;
  cursor: pointer;
  display: block;
  height: 2.5em;
  padding: 0.5em;
  place-self: center;
  transition: background 0.2s ease-in-out;
  width: 2.5em;

  span {
    background: $white;
    display: block;
    height: 3px;
    margin: 0 0 0.4em;
    transition: transform 0.2s ease-in-out;
  }

  &[aria-pressed="true"] {
    background: $black;

    span {
      visibility: hidden;

      &:last-child {
        transform: rotate(45deg) translate(-0.4em, -0.4em);
        visibility: visible;
      }

      &:first-child {
        transform: rotate(-45deg)translate(-0.4em, 0.4em);
        visibility: visible;
      }
    }
  }
}

.nav-list {
  display: none;
  height: 0;
  transition: height 0.2s ease-in-out,
              visibility 0.2s ease-in-out;

  &[aria-hidden="false"] {
    background-color: $black;
    border-radius: 5% 0 5% 5%;
    box-shadow: 0 3px 3px -3px $darkest-gray;
    display: block;
    height: auto;
    position: absolute;
      right: 0;
      top: 98%;
      @media (min-width: $breakpoint-sm) { top: 80%; }
      z-index: 999999;
    width: 150px;
  }

  .nav-item {
    box-shadow: inset 0 -2px 0 -1px $darkest-gray;
    display: block;
    text-align: left;

    &:last-child {
      box-shadow: unset;
    }

    &:hover, &:focus {
      color: $ligher-orange;
    }

    &:active {
      color: $orange;
    }

    &[aria-pressed="true"] > svg {
      color: $light-green;
    }
  }
}
