/* Global Styles */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700;900&display=swap');
$sans-serif: 'Lato', sans-serif;
$serif: 'Roboto Slab', serif;
$monospace: 'Roboto Mono', monospace;

$weight-thin: 100;
$weight-regular: 400;
$weight-bold: 700;
$weight-black: 900;

/* Colors */

$dark-blue: #0c63ce;
$blue: #0067e6;
$light-blue: #4393f4;

$darker-orange: #c2571a;
$dark-orange: #da621e;
$orange: #f26d21;
$light-orange: #ce7e39;
$ligher-orange: #ffa759;

$dark-red: #710c1a;
$red: #e21833;
$light-red: #eb5d70;

$dark-green: #134426;
$green: #27874c;
$light-green: #76ca97;

$black: #232333;
$darkest-gray: #313035;
$darker-gray: #4a494f;
$dark-gray: #babacc;
$gray: #747487;
$light-gray: #e4e4ed;
$lighter-gray: #f6f7f9;
$white: #ffffff;

/* breakpoints */

$breakpoint-sm: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1140px;
