/*  Alert Item */

.alert-list {
  position: relative;
    top: -0.6em;
    right: 0;
    z-index: 9999;
  width: calc(100% - 20px);
    min-width: 280px;
    max-width: calc(80vh - 40px);

  @media (min-width: $breakpoint-sm) {
    position: absolute;
      top: calc(60px + 1.2em);
      right: 50%;
    transform: translateX(50%);
  }
}

.alert {
  -webkit-animation: fadein 0.1s 0s 1;
  -moz-animation:    fadein 0.1s 0s 1;
  -o-animation:      fadein 0.1s 0s 1;
  animation:         fadein 0.1s 0s 1;
  border-radius: 0.3em;
  box-shadow: 0 2px 5px 0 $black;
  color: $white;
  display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr;
    align-content: center;
  font-size: 0.8em;
  @media (min-width: $breakpoint-sm) { font-size: 1em; }
  opacity: 1;
  padding: 0;
  position: absolute;
    right: 0;
  text-align: right;
  width: auto;

  button {
    border-radius: 0.3em;
    background: unset;
    cursor: pointer;
    color: $white;
    padding: 1em;
  }

  &[data-type="primary"] {
    background: $blue;
    font-weight: bold;
  }

  &[data-type="success"] {
    background: $green;
    font-weight: bold;
  }

  &[data-type="danger"] {
    background: $red;
    font-weight: bold;
  }

  &[data-type="warning"] {
    background: $orange;
    font-weight: bold;
  }

  &[data-type="info"] {
    background: $white;
    color: $black;
    font-weight: bold;

    button {
      color: $black;
    }
  }

  &[data-type="info-dark"] {
    background: $black;
    font-weight: bold;
  }

  &-content {
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
