body {
  background-color: $black;
  color: $white;

  @media (prefers-color-scheme: dark) {
    background-color: $black;
    color: $white;
  }

  @media (prefers-color-scheme: light) {
    background-color: $white;
    color: $black;
  }

  font-family: $sans-serif;
  font-size: 16px;
  font-weight: 700;
  min-width: 280px;
}
