/*  Bingo Card */

.bingo-card-gutter {
  padding: 20px 20px 0;

  @media (min-width: $breakpoint-lg) {
    padding: 1vh 0 0;
  }
}

.bingo-card {
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 1px;
    row-gap: 1px;
  margin: 0 auto;
  width: 100%;
    max-width: 90vh;
}
