footer {
  color: $light-gray;
  font-weight: 400;
  margin: 1em auto;
  text-align: center;
  width: 60%;
    max-width: 600px;

  p {
    line-height: 1.3em;
  }

  a {
    color: $light-blue;
    font-weight: $weight-black;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

      &:hover, &:focus {
        color: $orange;
        text-decoration: underline;
      }

      &:active {
        color: $darker-orange;
      }
  }

  .footer-links {
    display: flex;
      align-items: center;
      column-gap: 1em;
      flex-wrap: wrap;
      justify-content: center;
    margin: 0.3em auto;
    max-width: 500px;

    a {
      display: inline-block;
      padding: 0.5em;

      svg {
        font-size: 1.3em;
      }
    }
  }
}
